{% extends "user/home_layout.html"%}
  
{% block content %}
<div class="content" style="background-color: white;padding:3em">
<h3>My profile</h3> 

<form method="post" action="{{url_for('profile')}}">
    <div class="form-group row mb-3">
        <label class ="col-md-2">Fullname</label>
        <div class = col-md-6>
            <input type ="text" class= "form-control border-success" name="fullname">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class ="col-md-2" name="email">Email</label>
        <div class = col-md-6>
            {{deets.user_email}}
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class ="col-md-2" >Phone</label>
        <div class = col-md-6>
            <input type ="text" class= "form-control border-success" name="phone" value="{{deets.user_phone}}">
        </div>
    </div>


    <div class="form-group row mb-3">
        <label class ="col-md-2" >Party</label>
        <div class = col-md-6>
            <select name="myparty" id="myparty" class="form-control border success">
                {%for p in allparties%}
                {%if p.partyid== deets.user_partyid %}
                <option value="{{p.party_id}}" selected>{{p.party_name}}</option>
                {%else%}
                <option value="{{p.party_id}}">{{p.party_name}}</option>
                {%endif%}
                {%endfor%}
            </select>
        </div>
    </div>


    <div class="form-group row mb-3">
        <div class = col-md-6>
            <select name ="state" id="state" class="form-control border-success">
                <option value="">Please Select</option>
                {%for x in allstates %}
                <option value='{{x.state_id}}'>{{x.state_name}}</option>
                {%endfor%}  <!--........................................................ -->
            </select>
         </div>
        
        <div class = col-md-6>
           <button type="submit" class="btn btn-success">update</button>
        </div>
    </div>
</form>


</div>
 
{% endblock %}

<script src="{{url_for('static',filename='assets/jquery.min.js')}}"> </script>
<script>
    $(document).ready(function(){
        $('#state').change(function(){
            var stateid = $(this).val()
            $.ajax({
                url:"/load_lga/"+stateid,
                type:"GET",
                success:function(rsp){
                    $("#mylga").html(rsp)
                }

            })

        })

    })
</script>

